<!-- templates/profile.html -->
{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <h1>Welcome to the Profile Page</h1>
    <div class="profile-section">
        <h2>Username</h2>
        <p id="username-display">{{ username }}</p>
        <form action="{{ url_for('views.update_username') }}" method="POST" class="profile-form">
            <label for="new-username">New Username</label>
            <input type="text" id="new-username" name="new_username" placeholder="Enter new username" required>
            <button type="submit">Update Username</button>
        </form>
    </div>

    <div class="profile-section">
        <h2>Change Password</h2>
        <form action="{{ url_for('views.update_password') }}" method="POST" class="profile-form">
            <label for="old-password">Old Password</label>
            <input type="password" id="old-password" name="old_password" placeholder="Enter old password" required>
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" name="new_password" placeholder="Enter new password" required>
            <div class="toggle-password-profile">
                <input type="checkbox" id="togglePassword">Show Passwords
            </div>
            <button type="submit">Update Password</button>
        </form>
    </div>
</div>

<div id="errorPopup" class="popup error">{{ error }}</div>
<div id="successPopup" class="popup success">{{ success }}</div>

<script>
    window.onload = function() {
        var errorPopup = document.getElementById('errorPopup');
        var successPopup = document.getElementById('successPopup');

        if (errorPopup.textContent.trim() !== "") {
            errorPopup.classList.add('show');
            setTimeout(function() {
                errorPopup.classList.remove('show');
            }, 3000);
        }

        if (successPopup.textContent.trim() !== "") {
            successPopup.classList.add('show');
            setTimeout(function() {
                successPopup.classList.remove('show');
            }, 3000);
        }
    };

    document.getElementById('togglePassword').addEventListener('change', function() {
        var oldPasswordInput = document.getElementById('old-password');
        var newPasswordInput = document.getElementById('new-password');
        if (this.checked) {
            oldPasswordInput.type = 'text';
            newPasswordInput.type = 'text';
        } else {
            oldPasswordInput.type = 'password';
            newPasswordInput.type = 'password';
        }
    });
</script>
{% endblock %}
